.CheckoutSummary {
  text-align: center;
  width: 80%;
  margin: auto;
  /* overflow: scroll; */
}

.btn1 {
  margin-right: 10px;
}
.btn2 {
  margin-left: 10px;
}
@media (min-width: 600px) {
  .CheckoutSummary {
    width: 500px;
  }
}
