.Modal {
  position: fixed;
  z-index: 500;
  background-color: white;
  width: 70%;
  border: 1px solid #ccc;
  box-shadow: 1px 1px 1px black;
  padding: 16px;
  left: 15%;
  top: 10%;
  box-sizing: border-box;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  /* transform: translateY(0vh);
  opacity: 1; */
}
.Modal:hover {
  -webkit-transform: translate(3em, 0);
  -moz-transform: translate(3em, 0);
  -o-transform: translate(3em, 0);
  -ms-transform: translate(3em, 0);
  transform: translate(3em, 0);
}

@media (min-width: 600px) {
  .Modal {
    width: 500px;
    left: calc(50% - 250px);
  }
}
