.NavigationItems {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-flow: column;
  align-items: center;
  height: 100%;
}

.NavigationItem {
  margin: 10px 0;
  box-sizing: border-box;
  display: block;
  height: 100%;
  width: auto;
}
.NavigationItem a {
  color: #8f5c2c;
  text-decoration: none;
  box-sizing: border-box;
  display: block;
}

.NavigationItem a:hover,
.NavigationItem a:active,
.NavigationItem a.active {
  color: #40a4c8;
}

@media (min-width: 500px) {
  .NavigationItems {
    flex-flow: row;
  }
  .NavigationItem {
    margin: 0;
    box-sizing: border-box;
    display: flex;
    height: 100%;
    align-items: center;
  }
  .NavigationItem a {
    color: white;
    text-decoration: none;
    padding: 16px 10px;
    border-bottom: 4px solid transparent;
    box-sizing: border-box;
    display: block;
  }

  .NavigationItem a:hover,
  .NavigationItem a:active,
  .NavigationItem a.active {
    background-color: #8f5c2c;
    border-bottom: 4px solid #40a4c8;
    color: white;
  }
}
